buoi_03_tranconganh/2.3/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Root element -->
    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="product" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="quantity" type="xs:integer" />
                                    </xs:sequence>
                                    <!-- product id là string, không dùng xs:ID -->
                                    <xs:attribute name="id" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <!-- order id là toàn cục, dùng xs:ID -->
                        <xs:attribute name="id" type="xs:ID" use="required" />
                    </xs:complexType>

                    <!-- Ràng buộc product/@id phải duy nhất trong mỗi order -->
                    <xs:unique name="UniqueProductID">
                        <xs:selector xpath="product" />
                        <xs:field xpath="@id" />
                    </xs:unique>

                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>