buoi_04_tranconganh/DSSV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <!-- Kiểu dữ liệu dùng chung -->
    <xs:simpleType name="MaType">
        <xs:restriction base="xs:string">
            <!-- Cho phép từ 8 đến 12 ký tự -->
            <xs:minLength value="8" />
            <xs:maxLength value="12" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TenType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TenKhoaType">
        <xs:restriction base="xs:string">
            <!-- chỉ cho phép chữ thường a-z -->
            <xs:pattern value="[a-z]+" />
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SoDienThoaiType">
        <xs:restriction base="xs:string">
            <!-- Bắt đầu bằng 0 và theo sau là 9 số -->
            <xs:pattern value="0[0-9]{9}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MSSVType">
        <xs:restriction base="xs:string">
            <!-- MSSV phải là đúng 10 chữ số -->
            <xs:pattern value="[0-9]{10}" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Root element -->
    <xs:element name="DSSV">
        <xs:complexType>
            <xs:sequence>
                <!-- Danh sách Khoa -->
                <xs:element name="KHOA" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MA" type="MaType" />
                            <xs:element name="TEN" type="TenKhoaType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Danh sách Lớp -->
                <xs:element name="LOP" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MA" type="MaType" />
                            <xs:element name="TEN" type="TenType" />
                            <xs:element name="MAKHOA" type="MaType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Danh sách Sinh viên -->
                <xs:element name="SINHVIEN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MSSV" type="MSSVType" />
                            <xs:element name="HOTEN" type="TenType" />
                            <xs:element name="EMAIL">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="150" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DIACHI" type="xs:string" />
                            <xs:element name="SDT" type="SoDienThoaiType" />
                            <xs:element name="MALOP" type="MaType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- Khóa chính -->
        <xs:key name="KhoaKey">
            <xs:selector xpath="KHOA" />
            <xs:field xpath="MA" />
        </xs:key>

        <xs:key name="LopKey">
            <xs:selector xpath="LOP" />
            <xs:field xpath="MA" />
        </xs:key>

        <xs:key name="SinhVienKey">
            <xs:selector xpath="SINHVIEN" />
            <xs:field xpath="MSSV" />
        </xs:key>

        <!-- Khóa ngoại -->
        <xs:keyref name="LopKhoaRef" refer="KhoaKey">
            <xs:selector xpath="LOP" />
            <xs:field xpath="MAKHOA" />
        </xs:keyref>

        <xs:keyref name="SinhVienLopRef" refer="LopKey">
            <xs:selector xpath="SINHVIEN" />
            <xs:field xpath="MALOP" />
        </xs:keyref>
    </xs:element>

</xs:schema>